<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../src/bootstrap.min.css">

  <title>Библиотека для дедушки</title>
  <link rel="apple-touch-icon" sizes="180x180" href="../static/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/icons/favicon-16x16.png">
  <link rel="manifest" href="../static/icons/site.webmanifest">
  <link rel="mask-icon" href="../static/icons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#06144b">
</head>
<body>
<div class="container">
  <h1>Книги</h1>
  <nav aria-label="Страницы книг">
    <ul class="pagination">
      {% if current_page == 1 %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true">Назад</a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="{{ 'index' ~ previous_page ~ '.html' }}">Назад</a>
        </li>
      {% endif %}
      {% for page in range(pages_amount) %}
        {% if loop.index == current_page %}
          <li class="page-item active" aria-current="page"><a class="page-link"
                                                              href="">{{ current_page }}</a>
          </li>
        {% else %}
          <li class="page-item"><a class="page-link"
                                   href={{ 'index' ~ loop.index ~ '.html' }}>{{ loop.index }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if current_page == pages_amount %}
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" aria-disabled="true">Вперед</a>
        </li>
      {% else %}
        <li class="page-item"><a class="page-link"
                                 href="{{ 'index' ~ next_page ~ '.html' }}">Вперед</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
<div class="container">
  <div class="row">
    {% for col in books %}
      {% for book in col %}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ '../' ~ book.img_src|urlencode }}" class="card-img"
                   alt="{{ book.title }}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p>{{ book.author }}</p>
                {% for genre in book.genres %}
                  <p class="badge badge-light">{{ genre }}</p>
                {% endfor %}
                <p><a href="{{ '../' ~ book.book_path|urlencode }}" target="_blank"
                   rel="noopener noreferrer" class="href">Читать</a></p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="w-100"></div>
    {% endfor %}
  </div>
</div>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="../src/bootstrap.bundle.min.js"></script>

</body>
</html>